@media (max-width: 768px) {
    .remove_for_mobile{
        display: none
    }
}
@media (max-width: 1900px) {
    /* .messenger_cont {
        width: 80%;
        left: 20%;
    } */

    .search_cont {
        max-width: 500px;
        /* margin-left: 5%; */
    }

    .inbox_cont {
        /*max-width: 1376px;*/
    }

    .admin_screen_cont {
        max-width: 1350px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1800px) {
    .sidenav_search {
        max-width: 486px;
    }

    /* .messenger_cont {
        width: 78%;
        left: 22%;
    } */

    .inbox_cont {
        /*max-width: 1276px;*/
    }

    .admin_screen_cont {
        max-width: 1300px;
    }

    .admin_screen_cont {
        max-width: 1250px;
    }
}

@media (max-width: 1740px) {
    .messenger_cont {
        /* width: 76%;
        left: 24%; */
    }
}

@media (max-width: 1700px) {
    .inbox_cont {
        /*max-width: 1176px;*/
    }

    .admin_screen_cont {
        max-width: 1200px;
    }
}

@media (max-width: 1650px) {
    .search_cont {
        /* margin-left: 7%; */
    }

    .welcome_cont {
        /* margin-left: 10%; */
        max-width: 90%;
        /* max-width: 1000px; */
    }

    .admin_screen_cont {
        max-width: 1150px;
        margin-left: 7%;
    }
}

@media (max-width: 1600px) {
    .messenger_cont {
        /* width: 79%;
        left: 25%; */
    }

    .inbox_cont {
        /*max-width: 1076px;*/
    }

    .admin_screen_cont {
        max-width: 1100px;
        margin-left: 7%;
    }
}

@media (max-width: 1500px) {
    .search_cont {
        /* padding: 48px; */
    }

    .messenger_cont {
        /* width: 75%; */
        /* left: 25%; */
        /* left: calc(25% + 0px); */
    }

    .chat_history_cont {
        max-width: 534px;
        top: 45%;
        /* left: 45%; */
        /* transform: translate(-40%, -30%); */
    }

    .chat_history_cont_inner {
        padding: 48px 120px;
    }

    .inbox_cont {
        /*max-width: 976px;*/
    }

    .admin_screen_cont {
        max-width: 1000px;
        margin-left: 10%;
    }
}

@media (max-width: 1440px) {
    .messenger_cont {
        /* width: 74%; */
        /* left: 26%; */
        /* left: calc(26% + 44px); */
    }

    .sign_in_cont_b1_b2_items.grid_gab_32 {
        grid-gap: 16px;
    }

    .main_cont, .admin_main_cont {
        margin-right: 386px;
    }

    .sidenav_search {
        max-width: 386px;
    }

    .search_cont {
        max-width: 500px;
        /* margin-left: 13%; */
    }

    .welcome_cont {
        /* margin: 10%; */
        max-width: 90%;
        /* max-width: 800px; */
    }

    .admin_screen_cont {
        max-width: 900px;
        margin-left: 12%;
    }
}

@media (max-width: 1380px) {
    .messenger_cont {
        /*max-width: 520px;*/
        /*left: 38.2%;*/
    }

    .chat_history_cont {
        max-width: 434px;
        /* top: 45%;
        left: 47%;
        transform: translate(-40%, -30%); */
    }

    .chat_history_cont_inner {
        padding: 48px;
    }

}

@media (max-width: 1320px) {
    /* .sidenav {
        width: 330px;
    } */

    .search_cont {
        max-width: 500px;
        /* margin-left: 10%; */
    }

    .messenger_cont {
        /*max-width: 520px;*/
        /*left: 36%;*/
        margin-left: 330px;
    }

    .report_block_btns {
        flex-direction: column;
    }

    .report_block_btns button:first-child {
        margin-right: 0px;
        margin-top: 16px;
    }

    .chat_history_cont {
        max-width: 434px;
        /* top: 45%;
        left: 45%;
        transform: translate(-40%, -30%); */
    }

    .admin_screen_cont {
        max-width: 850px;
        margin-left: 10%;
    }

    .edit_btn_b {
        max-width: 200px;
    }
}

@media (max-width: 1275px) {
    .sidenav_search_body_content_item .sex_b {
        max-width: 60px;
        width: 100%;
    }

    .sidenav_search_body_content_item .info_b {
        padding: 8px 16px;
        width: 100%;
    }
}

@media (max-width: 1250px) {
    /* .header{
        left: 0px;
    } */
    .online_users_cont {
        padding-top: 74px;
    }

    .sidenav {
        display: none;
        /* width: 100%; */
        /* left: 0px; */

    }
    .chat-body .sidenav {
        width: 250px;
    }
    .chat-body .sidenav .info_b{
        /* display:none; */
    }
    .chat-body .sidenav_body_content_item .sex_b{
        width: 100%!important;
        max-width: 100%!important;
    }
    .chat-body .messenger_cont{
        /* width: calc(100% - 250px); */
        /* margin-left: 250px; */
        width: 100%;
    }
    .chat-body .sidenav_body_content_item .fs_14{
        display: none;
    }
    .chat-body .sidenav_body_content_item .mobilename{
        /* display: flex; */
        justify-content: center;
        align-items: center;
        margin-left: 2px;
    }
    .chat-body .sidenav_body_content_item{
        width: 100%!important;
    }

    .chat-body .send_message_btn{
        max-width: 10%;
        width: 10%;
    }
    .chat-body .send_message_area{
        width: 90%;
        max-width:90%;
    }

    .sidenav_mobile {
        position: relative;
        display: block;
        max-width: 343px;
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    /* .sidenav_mobile { 
        margin-top: 50px;
        max-width: unset;
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    } */

    .sidenav_header {
        border-radius: 10px;
        /* border-top-right-radius: 16px; */
        padding: 16px;
    }

    .sidenav_footer {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 16px;
    }

    .sidenav_mobile .closeBtn {
        position: absolute;
        top: 5%;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .online_user_btn {
        margin-top: 44px;
        max-width: 343px;
        width: 100%;
        margin-left: 16px;
        padding: 16px 24px;
        border-radius: 4px;
        font-size: 16px;
    }

    .search_results_btn {
        margin-top: 64px;
        max-width: 343px;
        width: 100%;
        margin-right: 16px;
        padding: 16px 24px;
        border-radius: 4px;
        font-size: 16px;
    }

    .online_user_btn:hover {
        font-weight: 700;
        font-size: 16px;
        transform: scale(1.02);
    }

    .sidenav_mobile_inner {
        border-radius: 12px;
        height: 100%;
        background: white;
        box-shadow: 0px 0px 16px 0px #00000040;
        margin-bottom: 24px;
    }

    .openBtn {
        display: block;
        position: fixed;
        top: 14%;
        left: 16px;
        font-size: 24px;
        z-index: 1;
        color: #12A1E7;
    }

    .openBtnSearch {
        display: block;
        position: fixed;
        top: 14%;
        right: 16px;
        font-size: 24px;
        z-index: 1;
        color: #12A1E7;
    }

    .sidenav_search {
        display: none;
    }

    .sidenav_online_users {
        display: none;
    }

    .sidenav_search_mobile {
        display: block;
        position: relative;
        /*  padding: 64px 16px 0px;*/
        margin: 0px auto 24px;
        max-width: 500px;
        width: 100%;
        background: white;
        min-height: 300px;
        height: 100%;
        border-radius: 16px;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);

    }

    .chat_history_cont_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px auto;
    }

    .chat_history_cont {
        /* position: unset; */
        max-width: 434px;
        margin-top: 25px;
        width: 100%;
        /* transform: translate(0); */
    }

    .sidenav_online_users_mobile {
        margin: 24px auto;
        margin-top: 24px;
        display: block;
        height: 100%;
        max-width: 434px;
        width: 100%;
        background: white;
        overflow-x: hidden;
        box-shadow: 0px 0px 16px 0px #00000040;
        border-radius: 16px;
    }

    .sidenav_body_content_inner {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .sidenav_search_mobile .closeBtn {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 36px;
        margin-left: 0px;
    }

    .sidenav_online_users_mobile .closeBtn {
        position: absolute;
        top: 0px;
        right: 15px;
        font-size: 36px;
        /* margin-left: 0px; */
    }

    .main_cont, .main_cont_for_welcome {
        position: unset;
        padding: 0px 16px;
        margin: 32px auto 24px;
    }

    .admin_main_cont {
        padding: 110px 16px 30px;
        margin-left: 0%;
    }

    .search_cont {
        position: unset;
        width: 100%;
        margin: 32px auto;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    }

    .messenger_cont {
        width: 100%;
        left: 0%;
        top: 62%;
        border-radius: 0px;
        background: #F4F7F9;
        margin: auto;
        /* padding: 0px 16px; */
    }

    .messenger_cont_inner_header_b {
        /* margin-top: 0px;
        border-radius: 12px 12px 0px 0px; */
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    }

    .send_message_b {
        /* border-radius: 0px 0px 12px 12px; */
        background: #231C41;
    }

    .welcome_cont {
        /* margin: 10%; */
        margin-top: 100px;
        max-width: 90%;
        /* width: 100%; */
    }

    .find_result_texts {
        margin: auto;
        padding-top: 20%;
    }

    .admin_screen_cont {
        max-width: 1200px;
        margin-left: 0%;
    }

    .send_message_block_div {
        display: none;
    }

    .send_message_block_div_mobile {
        display: block;
        position: relative;

    }

    .received_message_block {
        display: none;
    }

    .received_message_block_mobile {
        display: block;
        position: relative;
    }

    .received_message_block_mobile p {
        margin-top: 16px;
        max-width: 600px;
        width: max-content;
        padding: 12px;
        border-radius: 28px;
        margin-bottom: 24px;
        background: #F6E7F0;
        margin-left: 24px;
    }

    .send_message_block_div_mobile p {
        margin-top: 16px;
        max-width: 600px;
        width: max-content;
        padding: 12px;
        border-radius: 28px;
        margin-bottom: 24px;
        background: #DEEFF8;
        margin-left: 24px;
    }

    .received_message_block_mobile .user_pic, .send_message_block_div_mobile .user_pic {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .received_message_block_mobile .pink {
        position: absolute;
        bottom: 0%;
        left: -1%;
    }

    .send_message_block_div_mobile .blue {
        position: absolute;
        bottom: 0%;
        left: -1%;
    }

    .inbox_cont {
        max-width: 90%;
        width: 100%;
        margin: 24px auto;
        padding: 0px 16px;
        border-radius: 12px;
        box-shadow: none;
    }

    .inbox_cont_inner {
        padding: 16px;
    }
    .admin_sidenav_mobile {
        display: block;
        /*max-width: 900px;*/
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .sig_in_cont {
        margin: 24px 0px 48px;
    }

    .sign_in_cont_blocks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign_in_cont_b2 {
        margin-left: 0px;
        max-width: unset;
        width: 100%;
        margin-top: 24px;
    }

    .sidenav_body_content_item .sex_b {
        max-width: 50px;
        width: 100%;
    }

    /* .inbox_cont {
        max-width: unset;
        width: 100%;
        padding: 0;
    } */

    .inbox_cont_inner {
        background: white;
    }

    .inbox_cont_area {
        max-width: 1000px;
        width: 100%;
        margin: 24px auto;
        padding: 0px 16px;
    }

}

@media (max-width: 1100px) {
    .messenger_cont_inner_header_b2{
        display: none;
    }
    .mobile_dots_for_action_user{
        display: block;
    }
}

@media (max-width: 900px) {
    .admin_screen_cont {
        max-width: 900px;
        width: 100%;
        padding: 16px;
        height: 100%;
        max-height: unset;
        /*overflow: auto;*/
    }
    .admin_screen_cont_inner{
        max-height: 700px;
        height: 100%;
    }
    .table_content{
        max-height: 500px;
        height: 100%;
        overflow-y: auto;
    }

    .tab button {
        font-size: 16px;
        padding: 8px 20px;
    }

    .admin_sidenav_mobile {
        max-width: 900px;
        width: 100%;
    }

}


@media (max-width: 850px) {
    .footer_pages_b a {
        margin-right: 24px;
    }

    .sidenavs_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .online_user_btn {
        margin-left: 16px;
    }

    .search_results_btn {
        margin-top: 24px;
        margin-right: 0px;
    }

}

@media (max-width: 768px) {
    .message-in-box {
        max-width: 90%;
        margin: auto;
    }
    .grid_columns_4fr {
        grid-template-columns: 1fr 1fr;
    }

    .send_message_btn {
        max-width: 100px;
    }
    .chat-body .sidenav{
        width: 0px;
    }
    .chat-body .messenger_cont{
        width: 100%;
        margin-left: 0px;
    }
    .received_message_block {
        flex-direction: column;
        align-items: start;
        border-radius: 16px;
    }

    .received_message_block div {
        align-items: end;
    }

    .send_message_block {
        max-width: 95%;
        flex-direction: column;
        align-items: start;
        border-radius: 16px;
    }

    .send_message_block div {
        align-items: end;
    }

    .received_message_block span, .send_message_block span {
        margin-right: 0px;
        margin-left: 5px;
    }

    .send_message_block p {
        text-align: right;
        margin-top: 5px;
    }


    .inbox_cont_inner {
        padding: 32px;
    }

    .messenger_cont_inner_header_b {
        /* flex-direction: column; */
    }

    .messenger_cont_inner_header_b1 {
        justify-content: space-between;
        width: 100%;
    }

    .messenger_cont_inner_header_b2 {
        margin-top: 12px;
    }

    .tabContent_content1 .add_user_btn_b {
        margin-left: 16px;
        max-width: 155px;
    }

    .tabContent_content2 {
        display: none;
    }
    .tabContent_content2_mobile {
        display: block;
        max-height: 510px;
    }
    .table_item{
        padding: 9px 0px 0px 0px;
        border-bottom: 1px solid #C5C5D7;
    }
    .table_th span, .table_tr span{
        margin-bottom: 12px;
    }
    .load_more_btn {
        display: block;
        margin:7px auto 0;
        color: #12A1E7;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }
    .send_messagebg_self {
        float: left;
    }
    .welcome_cont {
        margin: auto;
        max-width: 90%;
        /* width: 100%; */
    }

    /* .sidenav_mobile { 
        margin-top: 50px;
        max-width: unset;
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    } */

}

@media (max-width: 700px) {
    .footer {
        padding: 24px 16px;
    }

    .footer_inner {
        flex-direction: column;
    }

    .footer_pages_b {
        margin: 16px 0px;
    }

    .header_content_b p {
        display: none;
    }

    .header_content_b a {
        margin-right: 12px;
    }

    .messenger_cont {
        /*max-width: 550px;*/
        /*left: 25%;*/
    }
}

@media (max-width: 620px) {
    .messenger_cont {
        /*max-width: 450px;*/
        /*left: 26%;*/
    }

    .inbox_cont_body_item {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 16px;
        padding: 12px 16px 12px 0px;
        border-bottom: 1px solid #F4F7F9;
    }

    .inbox_cont_body {
        padding-top: 16px;
    }

    .inbox_cont_inner {
        padding: 16px;
        border-radius: 12px;
    }

    .inbox_cont_body_item_b2 {
        margin-right: 0px;
        margin-top: 16px;
        margin-left: 12px;
    }

    .received_message_block_mobile p {
        margin-top: 8px;
        max-width: 299px;
        width: 100%;
    }

    .send_message_block_div_mobile p {
        margin-top: 8px;
        max-width: 299px;
        width: 100%;
    }

}

@media (max-width: 540px) {
    .grid_columns_4fr {
        grid-template-columns: 1fr;
    }

    .sign_in_cont_b1 {
        padding: 24px;
    }

    .margin_top_32 {
        margin-top: 24px;
    }

    .sign_in_cont_b2 {
        padding: 24px;
    }

    .search_cont {
        padding: 24px;
    }


    .messenger_cont {
        top: 58%;
    }

    /* .sidenav_mobile {
        max-width: unset;
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    } */

    .online_user_btn {
        margin-left: 0px;
        max-width: 400px;
        width: 100%;
        margin-top: 34px;
    }

    .sidenav_search_mobile {
        max-width: 90%;
        /* width: 100%; */
    }

    .chat_history_cont {
        /* position: unset; */
        max-width: 400px;
    }

    .sidenav_online_users_mobile {
        max-width: 400px;
    }

    .chat_history_cont_mobile {
        max-width: 432px;
        width: 100%;
        margin: 24px auto;
        padding: 0px 16px;
    }

    .modal-body {
        padding: 16px 0px;
    }

    .modal-footer {
        padding-top: 16px;
    }

    .modal-content {
        padding: 16px;
    }
}

@media (max-width: 500px) {
    .messenger_cont_inner_header_b {
        padding: 16px;
    }

    .messenger_cont_inner_header_b1 .info_b {
        margin: 0px 0px 0px 4px;
    }

    .messenger_cont_inner_messages_b {
        margin-top: 0px;
        padding: 16px;
    }

    .send_message_b {
        flex-direction: column;
    }

    .send_message_area {
        padding: 1px 2px 1px 16px;
        height: unset;
    }

    .send_message_area textarea {
        height: unset;
        width: 100%;
    }

    .send_btn_icon {
        display: block;
    }

    .send_message_btn {
        display: none;
    }

    .send_message_block {
        margin-bottom: 16px;
    }


    .chat_history_cont_inner {
        padding: 24px;
    }

    .icons_means_b {
        flex-direction: column;
    }

    .icons_means_b_item {
        margin-right: 0px;
        margin-bottom: 8px;
    }

    .inbox_cont_header {
        padding-bottom: 8px;
    }

    .sign_in_cont_b2 div {
        padding: 16px 0px;
    }

    .sign_in_cont_b2 div:last-child {
        padding: 16px 0px 0px;
    }

    .chat_btn, .become_user_btn, .login_admin_btn {
        margin-top: 16px !important;
    }

    .messenger_cont_inner_header_b2 button {
        width: 147px;
    }

    .vip_dates_b {
        justify-content: space-between;
    }

    .vip_dates_b1 {
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;
    }

    .vip_dates_b span:nth-child(1) {
        margin-left: 0px;
    }

    .tabContent_content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tabContent_content1 .add_user_btn_b {
        margin-left: 0px;
        max-width: unset;
        width: 100%;
        margin-top: 12px;
    }
}


@media (max-width: 414px) {
    .sidenav_search_body_content_item .info_b {
        padding: 8px;
        width: 100%;
    }

    .flag_message_b span {
        height: 10px;
        width: 1px;
        background: grey;
        margin: auto 8px;
    }

    .margin_top_24 {
        margin-top: 16px;
    }

    .grid_gab_32 {
        grid-gap: 18px;
    }

    .fs_24 {
        font-size: 18px;
        line-height: 27px;
    }

    .fs_32 {
        font-size: 19px;
        line-height: 28px;
    }

    .margin_top_32 {
        margin-top: 18px;
    }

    .main_cont {
        margin: 24px auto;
    }

    .search_cont {
        margin: 0px auto 24px;
    }

    .fs_18 {
        font-size: 16px;
    }

    .modal-body div:last-child {
        display: flex;
        flex-direction: column;
    }

    .vip_dates_block_select_div input {
        max-width: unset;
        width: 100%;
        border: 1px solid rgba(197, 197, 215, 1);
        border-radius: 4px;
        padding: 10px 16px;
        margin: 0px 8px;
    }

    .vip_dates_block_select_div .save_btn {
        max-width: unset;
        width: 100%;
        margin-top: 16px;
    }

    .modal-body div:last-child .line {
        display: none;
    }

    .vip_dates_block_select_div input:first-child {
        margin: 0px auto 16px;
    }

    .modal-body div button {
        margin-left: 0px;
    }

    .vip_dates_b {
        display: flex !important;
        justify-content: space-between !important;
    }

    .vip_dates_b1 {
        justify-content: start !important;
    }

    .vip_dates_b_mobile {
        justify-content: space-between !important;
        flex-direction: row !important;
    }

    .vip_dates_b_mobile .vip_dates_b1 div {
        justify-content: space-between !important;
        flex-direction: row !important;
    }
}

@media (max-width: 390px) {
    .footer_inner {
        flex-direction: column;
    }

    .footer_pages_b {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_pages_b a {
        margin-right: unset;
        margin-bottom: 12px;
    }

    .footer_pages_b a:last-child {
        margin-bottom: 0px;
    }

    .search_cont {
        padding: 24px;
    }

    .inbox_cont_inner {
        padding: 16px;
    }

    .welcome_cont {
        padding: 24px 16px;
    }
}

@media (max-width: 370px) {
    .messenger_cont_inner_header_b2 button {
        width: 100px;
    }
}

